<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.UserMapper">
    <resultMap type="ltd.newbee.mall.entity.User" id="BaseResultMap">
        <result property="userId" jdbcType="BIGINT" column="user_id"/>
        <result property="nickName" jdbcType="VARCHAR" column="nick_name"/>
        <result property="loginName" jdbcType="VARCHAR" column="login_name"/>
        <result property="passwordMd5" jdbcType="VARCHAR" column="password_md5"/>
        <result property="introduceSign" jdbcType="VARCHAR" column="introduce_sign"/>
        <result property="address" jdbcType="VARCHAR" column="address"/>
        <result property="isDeleted" jdbcType="TINYINT" column="is_deleted"/>
        <result property="lockedFlag" jdbcType="TINYINT" column="locked_flag"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        nick_name,
        login_name,
        password_md5,
        introduce_sign,
        address,
        is_deleted,
        locked_flag,
        create_time
    </sql>

    <update id="updateUserInfo" parameterType="ltd.newbee.mall.entity.User">
        update tb_newbee_mall_user
        <set>
            <if test="nickName != null">
                nick_name=#{nickName},
            </if>
            <if test="loginName != null">
                login_name=#{loginName},
            </if>
            <if test="passwordMd5 != null">
                password_md5=#{passwordMd5},
            </if>
            <if test="introduceSign != null">
                introduce_sign=#{introduceSign},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="isDeleted != null">
                is_deleted=#{isDeleted},
            </if>
            <if test="lockedFlag != null">
                locked_flag=#{lockedFlag},
            </if>
            <if test="createTime != null">
                create_time=#{createTime}
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <select id="selectUserInfoByLoginName" parameterType="String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from tb_newbee_mall_user
        where login_name=#{loginName}
    </select>

    <insert id="insertAUser" parameterType="ltd.newbee.mall.entity.User">
        insert into tb_newbee_mall_user(
            nick_name,
            login_name,
            password_md5,
            introduce_sign,
            address,
            is_deleted,
            locked_flag,
            create_time
            )
        values(
            #{nickName},
            #{loginName},
            #{passwordMd5},
            #{introduceSign},
            #{address},
            #{isDeleted},
            #{lockedFlag},
            #{createTime}
            )
    </insert>

</mapper>
